body {
  padding-top: 50px;
}

.em-text{
	color: #1caa98 !important;  
}

/*jumbotron css*/

.jumbotron .app-btn {
   width: 40%;
   margin-right:30px;
}

.jumbotron {
	background: url(../img/site_showcase_bg.jpg);
	color: #fff;
	height:594px;
	
}

.jumbotron h1{
	margin-top: 60px;
}

.jumbotron p{
	margin-bottom: 50px;
}


.jumbotron .showcase-img{
	padding-left: 100px !important;
	height: auto;
}

section#middle .container .col-md-4{
	padding:40px;
	}

section#middle .container .img-responsive{
	border: 1px solid #ccc;
	padding: 3px;
}

section#feature{
	background-color: #1CAA98;
	color:#fff;
	height:300px;
	display: block;

}

section#feature li{
	list-style: none;
	font-size: 25px;
	padding: 10px 0 10px 0
	
}

footer{
	background-color: #333 !important; 
	color: white;
}

footer ul .contact-bar{
	display: block;
	text-decoration: none;
	float: left;
}